useDynLib(msa)

import(methods)
import(Rcpp)
import(BiocGenerics)
importFrom(Biostrings, BStringSet, writeXStringSet)
import(MultipleAlignment)
import(S4Vectors)
import(IRanges)
importFrom(tools, texi2dvi)
importFrom(utils, capture.output)

export(msa, msaMuscle, msaClustalW, msaClustalOmega, msaPrettyPrint,
       msaConvert, msaCheckNames)

exportClasses(MsaDNAMultipleAlignment, MsaRNAMultipleAlignment,
              MsaAAMultipleAlignment, MsaMetaData)
exportMethods(params, version, show, print, msaConservationScore,
              msaConsensusSequence)
